.icone{
    font-size: 50px;
    padding-top: 20px;
    color: #f5b235;    
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.botao{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.input-texto{
    width: 350px;
}