<div class="container">
    <div class="row text-center">
        <div class="col">
            <span class="material-symbols-outlined icone mt-2">drive_file_rename_outline</span>
            <h2>Editar Cliente</h2>
        </div>
    </div>
    <div class="row">
        <div class="col formulario">
            <form [formGroup]="form" (ngSubmit)="salvar()">

                <div class="form-group">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control input-texto" formControlName="nome" id="nome" autocomplete="off" [(ngModel)]="cliente.nome">
                </div>
                <div class="alert alert-danger mt-3" [hidden]="form.get('nome')?.valid || form.get('nome')?.pristine">
                    <span *ngIf="form.get('nome')?.errors?.['required']">O nome deve ser preenchido.</span>
                    <span *ngIf="form.get('nome')?.errors?.['minlength']">O nome deve ter no mínimo 3 caracteres.</span>
                </div>

                <div class="form-group">
                    <label for="cpf" class="form-label mt-3">CPF</label>
                    <input type="text" class="form-control input-texto" formControlName="cpf" id="cpf" autocomplete="off" [(ngModel)]="cliente.cpf">
                </div>
                <div class="alert alert-danger mt-3" [hidden]="form.get('cpf')?.valid || form.get('cpf')?.pristine">
                    <span *ngIf="form.get('cpf')?.errors?.['required']">O CPF deve ser preenchido.</span>
                    <span *ngIf="form.get('cpf')?.errors?.['pattern']">O CPF precisa ser preenchido com 11 números.</span>
                </div>

                <div class="form-group">
                    <label for="dataDeNascimento" class="custom-label mt-3">Data Nascimento</label>
                    <input type="date" class="form-control input-texto mt-3" formControlName="dataDeNascimento" id="dataDeNascimento"
                        name="dataDeNascimento" [ngModel]="cliente.dataDeNascimento| date:'yyyy-MM-dd'" autocomplete="off" required [max]="dataAtual | date: 'yyyy-MM-dd'">
                </div>
                <div class="alert alert-danger mt-3" [hidden]="form.get('dataDeNascimento')?.valid || form.get('dataDeNascimento')?.pristine">
                    <span *ngIf="form.get('dataDeNascimento')?.errors?.['required']">A data de nascimento é obrigatória.</span>
                </div>
                
                <div class="botao m-3">
                    <input type="submit" value="Salvar" class="btn btn-primary m-1" [disabled]="!form.valid">
                    <button class="btn btn-secondary m-1" (click)="limpar()">Limpar</button>
                </div>

            </form>
        </div>
    </div>
</div>