<div class="banner">
    <video autoplay muted loop>
        <source src="../../../assets/video.mp4">
    </video>
    <div class="conteudo">
        <h1 class="mt-2 pb-2">SISTEMA DE GERENCIAMENTO DE VENDAS ONLINE</h1>
        <img class="icone mb-2" src="../../../assets/perfume1.png" alt="">
        <p class="m-2">Seja bem vindo(a) ao nosso sistema de gestão de vendas e clientes!</p>
            <p class="m-2">Neste sistema você poderá gerenciar, adicionar e excluir seus clientes.<br>
                Também poderá adicionar produtos, editar produtos, ativar e desativar produtos, assim
                como gerenciar o estoque de seus produtos.<br> A seção de pedidos permite que se cadastre
                um pedido sem cliente e também com cliente, atribuindo assim pontos de fidelidade ao mesmo
                automaticamente. Também é possível alterar o status do pedido e consultar como está o andamento
                do pedido.
            </p>
    </div>
</div>